<%= content_for :page_title, t('devise.pages.title.sign_up') %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2 is-three-fifths">
        <div class="box has-background-white-ter">
          <h2 class="title"><%= t('devise.pages.subtitle.sign_up') %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email, class: 'label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
            </div>

            <div class="field">
              <%= f.label :password, class: 'label' %>
              <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'label' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
            </div>

            <div class="control">
              <%= f.submit t('devise.links.sign_up'), class:'button is-primary is-rounded' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>

