<nav class="navbar hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-mobile">
        <div class="column">
          <h1 class="title">
            <%= link_to yield(:page_title), root_path, remote: true, id: 'root_page' %>            
          </h1>
          <%= link_to t('menu.links.home'), root_path, id:'home_page', 
                                        class: "button is-link is-rounded mt-3 #{action_name == 'index' ? 'is-warning' : ''}",
                                        data: { remote: true} %>         
          <%= link_to t('menu.links.about'), about_path, data: {remote: true, type: :json}, 
                                          id: 'about_page', 
                                          class: "button is-link is-rounded mt-3 #{action_name == 'about' ? 'is-warning' : ''}" %>   
          <%= link_to t('menu.links.contact'), contact_path, data: {remote: true, type: :json},  
                                              id: 'contact_page', 
                                              class: "button is-link is-rounded mt-3 #{action_name == 'contact' ? 'is-warning' : ''}" %>               
          
          
        </div>
        
        <div class="column">
          <h1 class="is-pulled-right">
            <%= link_to t('menu.links.new_post'), new_post_path, data: {remote: true, type: :json}, id: 'new_post', class: 'button is-primary is-rounded' if user_signed_in? %>
            <%= link_to t('menu.links.login'), new_user_session_path, class: 'button is-primary is-rounded' unless user_signed_in? %>
            <%= link_to t('menu.links.logout'), destroy_user_session_path, method: :delete, class: 'button is-danger is-rounded' if user_signed_in? %>
          </h1>

          <% if user_signed_in? %>
            <h3 class="is-pulled-right mt-3 mr-3">
              <%= current_user.email %>
            </h3>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>