
<section class="container is-larger mb-3" id="post_<%= post.id%>">
  <div class="box">
    <h1 class="title">
      <%= link_to post.title, post, remote: true, class: 'show_post' %>
    </h1>
    <h5>
      <%= t('page.subtitle.autor',autor: post.user.email) %>
    </h5>    
    <p><%= post.content.html_safe %></p>
      <div class="container like_content">

      <% if user_signed_in? %>
        <%= link_to post_likes_path(post), method: :post, remote: true, class: "button is-danger like is-rounded mt-3" do %>
          <i class="fa fa-thumbs-up"></i>
        <% end unless liked?(post.id) %>

        <%= link_to post_like_path(post,like_id(post.id)), method: :delete, remote: true, class: "button is-danger dislike is-rounded mt-3" do %>
          <i class="fa fa-thumbs-down"></i>
        <% end if liked?(post.id) %>

        <% if current_user.id === post.user_id %>
          <%= link_to edit_post_path(post), remote: true, class: 'button is-success is-rounded edit_post mt-3' do %>
            <i class="fa fa-pencil"></i>
          <% end %>

          <%= link_to post, method: :delete, class: 'button is-danger is-rounded delete_post mt-3', data:{confirm: "Tem certeza?", remote: true} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
          <span class="button is-info is-rounded m-3">
            <i class="fa fa-comments"></i>
            <b class="m-2"><%= "#{post.comments.count}" %></b>
          </span>    
          <span class="button is-secondary is-rounded mt-3 likes"><%= "Likes #{post.likes.count}" %></span>
        </div>
      <% end %>
      <span class="mt-5"><%= t('page.subtitle.created',time: time_ago_in_words(post.created_at)) %></span>    
  </div>
</section>