<%= content_for :page_title, @post.title %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          <%= @post.title %>
          <%= link_to t('page.links.comeback'), posts_path, id: 'back_page', remote: true, class: "button is-danger is-rounded mt-3 is-pulled-right" %>
        </h1>
        <h2 class="subtitle">
          <%= t('page.subtitle.autor',autor: @post.user.email) %>
        </h2>        
        <div class="box">
          <p>
            <span class="mb-3"><%= t('page.subtitle.created',time: time_ago_in_words(@post.created_at)) %></span>
            <hr/>
            <%= @post.content.html_safe %>
          </p>
        </div>
        
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h3 class="subtitle" id="comments_count"><%= "#{t('page.title.comments')} #{@post.comments.count}" %></h3>
        <div class="container">
          <div class="columns is-multiline" id="comments">
            <%= render @post.comments %>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <h2 class="subtitle"><%= t('page.title.add_comment') %></h2>
      <div class="box" id="box_comment">
        <%= render 'comment_form', post: @post if user_signed_in? %>
        <%= link_to t('page.links.login_to_comment'), new_user_session_path, class: 'button is-primary is-rounded' unless user_signed_in? %>
      </div>
  </div>
</section>