<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlog</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src = "../../assets/froala_editor.pkgd.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/menu' %>

    <div class="app">
      <% flash.each do |type, msg| %>
      <section class="section">
        <div id="messages" class="box mt-3 mx-3 py-3 px-3  <%= !type.eql?('error') ? "has-background-success has-text-white" : "has-background-danger has-text-white" %>">
          <p><%= msg %></p>
        </div>
      </section>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
